body{color:#152028;background-color:#ffffff;font-family:sans-serif}@media (min-width: 576px){body{color:#ffffff;background-color:#152028}}.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

