.nav-menu a:link,.nav-menu a:visited{color:#5d99c6;text-decoration:none}.nav-menu a:hover,.nav-menu a:active{color:#90caf9}
@font-face{font-family:"Lato";font-style:normal;font-weight:400;src:url(../assets/fonts/Lato-Regular.ttf) format("woff");font-display:swap}body{color:#fff;background-color:#121212;font-family:"Lato",sans-serif}
