$dark-color: #152028;

/* critical */
body {
  color: $dark-color;
  background-color: #ffffff;
  font-family: sans-serif;

  .logo {
    height: 96px;
    width: 96px;
  }
}

/* uncritical */
.alert {
  color: red;
}

/* dimensions */
@media (min-width: 576px) {
  body {
    color: #ffffff;
    background-color: $dark-color;
  }
}
