$dark-color: #121212;

body {
    color: $dark-color;
    background-color: #ffffff;
    font-family: sans-serif;
}

@media (min-width: 769px) {
    body {
        color: #ffffff;
        background-color: $dark-color;
    }
}
